* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #1e1287;
    color: white;
    display:flex;
    justify-content: space-between;
}

.header h1 {
    font-size: 48px;
}

.header h1 {
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none; 
}

.header nav li {
    margin-left: 25px;
}

.header nav ul{
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-left:10px;
}

.header nav li a:hover {
    color:orange;
}

.header2 img {
    height: 300px;
  }

#backgroundpic {
    background-image: url("../images/online-reputation-management.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 400px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* .avatar {
    height: 100px;
    width: 50%;
    margin-bottom: 25px;
    background-image: url("../images/Profile\ Pic.JPG");
    background-size: cover;
    background-position: center;
} */

/* .content {
    width: 100%;
    display: inline-block;
    margin-left: 20px; 
} */

.about-me, .projects, .contact-me   {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.about-me h2,.projects h2, .contact-me h2  {
    margin-bottom: 20px;
    font-size: 36px;
}

#email {
background-color: goldenrod;
}

#github {
background-color: lightsteelblue;
}

#portfolio {
background-color: darkorange;
} 
  

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

